{% extends "base.html" %}

{% block main %}
    <h1 class="page-header">INFO3180 Lab 4</h1>
    
    <div class="image-container">  
        <h3>Images:</h3>
        {% for image in images %}
            <img src="{{url_for( 'static', filename='uploads/' + image ) }}" class="img-responsive img-thumbnail"/>
        {% endfor %}
    </div>
    
    
    
    <h3>Files:</h3>    
    <ul class="files-container">
        {% for file in files %}
                <li>{{ file }}</li>
        {% endfor %}
    </ul>
    <p class="lead">This Flask app demonstrates basic file uploads and basic authentication.</p>
{% endblock %}